@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Font */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.bebas-neue-italic {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: italic;
}


/* Text */
.text-extra-large-style {
    @apply bebas-neue-regular text-6xl text-white;

}

.text-large-style {
    @apply bebas-neue-regular text-3xl text-white;
}

.landing-page-primary {
    @apply bg-pallet-navy;
}


@media (min-width: 1536px) {
    .divider-style-x {
    @apply divide-solid divide-x-4 divide-pallet-green;
}
}



/* Home Page Animation */

@keyframes scroll-rtl {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
    
}

.scrolling-div-rtl {
    animation: scroll-rtl 10s linear infinite;
}


@keyframes scroll-ltr {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
        visibility: hidden;
    }
}

.scrolling-div-ltr {
    animation: scroll-ltr 10s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}